<nav>
	<ul>
		<li><a href="#">ALL TRACKS</a></li>
		<li><a href="#">FUSION</a>
			<ul>
				<li><a href="#">PC</a></li>
				<li><a href="#">XBOX 360</a></li>
				<li><a href="#">XBOX ONE</a></li>
                <li><a href="#">PS4</a></li>
			</ul>
		</li>
		<li><a href="#">EVOLUTION</a>
			<ul>
				<li><a href="#">PC - GOLD</a></li>
				<li><a href="#">XBOX 360</a></li>
			</ul>
		</li>
		<li><a href="#">TRIALS HD</a></li>
        <li><a href="#">TRIALS 2</a></li>

        <li><strong><a href="#">SUBMIT TRACK</a></strong></li>
	</ul>
</nav>